#navbar{
    width: 85px;
    height: 155px;
    border: 1px solid black;
    padding-top:1.5%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    line-height: 30px;
    background-color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    display: none;
 
}
#navbar a{
    text-decoration: none;
    color: black;
    position: relative;
}
.navbar button{
    border: none;
    background-color: transparent;
}
