
.header{
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 15px 50px;
    
}
.inner_header{
    width: 98%;
    height: 100%;
    border-radius: 15px 50px;
    display: block;
    margin: 0 auto;
    background-color: #066970;
    border: #363736 3px solid;
}
.about_us{
    height: 100%;
    display: table;
    float: left;
}
.about_us h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 800;
}
.about_us h1 span{
    font-weight: 200;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.8rem;    
}
a{
    padding-left: 7.5%;}
h1{
    margin-left: 2%;
}
/*--tijelo--*/
body{
    background-image: url(../pictures/binarni2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    
}
/* --Likovi-- */
.character{
    margin-top: 3%;
    display: flex;
    flex-direction: row;}
.charactertext{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5%;
}
.her{
    align-items: center;
    height: 1000px;
    width: 415px;
    }
.education{
    height: 250px;
    width: 250px;
    transition: none;
    justify-content: center;
    background-image: url(../pictures/education.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 3%;
}
.education p{
    opacity: 0;
    transform: scale(0);
    transition: 1.2s;
    font-size: 1.2rem;
    color: white;
}
.education:hover{
    height: 250px;
    width: 250px;
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.8) inset;
}
.education:hover p{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.contact{
    height: 250px;
    width: 250px;
    transition: none;
    justify-content: center;
    background-image: url(../pictures/contact.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50%;
}
.contact p{
    opacity: 0;
    transform: scale(0);
    transition: 1.2s;
    font-size: 1.2rem;
    color: white;
}
.contact:hover{
    height: 250px;
    width: 250px;
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.8) inset;
}
.contact:hover p{
    opacity: 1;
    transform: scale(1);
}

.hobbies{
    height: 350px;
    width: 350px;
    transition: none;
    justify-content: left top;
    background-image: url(../pictures/hobbies2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.hobbies p{
    opacity: 0;
    transform: scale(0);
    transition: 1.2s;
    font-size: 1.2rem;
    color: white;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    -ms-transition: 1.2s;
    -o-transition: 1.2s;
}
.hobbies:hover{
    height: 350px;
    width: 350px;
    box-shadow: 0 0 0 250px rgba(0, 0, 0, 0.8) inset;
}
.hobbies:hover p{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.him{
    align-items: center;
    justify-content: right;
    height: 1000px;
    width: 415px;
    }
/* --Zaglavlje-- */
footer{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center ;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 15px 50px;
    background-color: #363736;
    -webkit-border-radius: 15px 50px 30px 5px;
    -moz-border-radius: 15px 50px 30px 5px;
    -ms-border-radius: 15px 50px 30px 5px;
    -o-border-radius: 15px 50px 30px 5px;
    width:100%;
}
footer a{
    margin-left: 10%;
}