/*---Heder navbar---*/

.header{
    height: 147px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 15px 50px;
    background-color: #363736;
}
.inner_header{
    width: 98%;
    height: 100%;
    border-radius: 15px 50px;
    display: block;
    margin: 0 auto;
    background-color: #03495B;
}
.about_us{
    height: 100%;
    display: table;
    float: left;
}
.about_us h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 800;
}
.about_us h1 span{
    font-weight: 200;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.8rem;    
}
a{
    padding-left: 7.5%;}

.live{
    border-style: solid;
    border-width: auto;
    border-color: #F5C810;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 450px;
    margin-left: 450px;
    background-color: lightblue;
}

.video1{
    border-style: solid;
    border-width: medium;
    border-color: #4C035B;
    align-items: center;
    float: left;
    height: 800px;
    width: 415px;
    margin-left: 10px;
}

.icon2{
    border-style: solid;
    border-width: medium;
    border-color: #4C035B;
    align-items: center;
    float: right;
    height: 800px;
    width: 415px;
    margin-right: 10px;
}

.mySlides{
    display: none;
}


body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}