/*---heder navbar---*/

.header{
    height: 147px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 15px 50px;
    background-color: #363736;
}
.inner_header{
    width: 98%;
    height: 100%;
    border-radius: 15px 50px;
    display: block;
    margin: 0 auto;
    background-color: #03495B;
}
.about_us{
    height: 100%;
    display: table;
    float: left;
}
.about_us h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 800;
}
.about_us h1 span{
    font-weight: 200;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.8rem;    
}
a{
    padding-left: 7.5%;}









/*--Text tags--*/
h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body{
background-image: url("..//pictures/discobac.jpg");
background-size: cover;
background-attachment: fixed;
background-position: center;
}
/*--Grpund plan--*/
.groundplan{
    margin-left: 13%;
    margin-top: 10%;
}
/*--Middle part*/
#middleplan{
    display: flex;
    flex-direction: row;
}
#leftside {
    width: 200px;
    height: 600px;
    border-radius: 100px 0px 0px 50px;
    border-top:1px black solid ;
    border-left:1px black solid ;
    border-bottom:1px black solid ;

}
#middle{
    width: 600px;
    height: 600px;
    border-top: 1px black solid;
    border-bottom:#2f2f2f;
    display: flex;
    flex-direction: column;
}
#middle,#leftside,#rightside,#semicircle{
    background-color: #2f2f2f;
}

/*----> TABLES <----*/
/*--rows of tables--*/
#firstrow,#secondrow,#thirdrow,#fourthrow,#fifthrow,#sixthrow,#seventhrow{
    display: flex;
    flex-direction: row;
}
/*--first row--*/
#table1-1,#table1-2,#table1-3,#table1-4,#table1-5,#table1-6,#table1-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*--second row--*/
#table2-1,#table2-2,#table2-3,#table2-4,#table2-5,#table2-6,#table2-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*--third row--*/
#table3-1,#table3-2,#table3-3,#table3-4,#table3-5,#table3-6,#table3-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
}
/*--fourthrow--*/
#table4-1,#table4-2,#table4-3,#table4-4,#table4-5,#table4-6,#table4-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
}
/*--fifthrow--*/
#table5-1,#table5-2,#table5-3,#table5-4,#table5-5,#table5-6,#table5-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
}
/*--sixthrow--*/
#table6-1,#table6-2,#table6-3,#table6-4,#table6-5,#table6-6,#table6-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
}
/*--seventthrow--*/
#table7-1,#table7-2,#table7-3,#table7-4,#table7-5,#table7-6,#table7-7{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffcb74;
    margin:4.5%;
    margin-left: 6%;
    margin-top: 6%;
}

#tablenumber{
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 9px;
    color: #050206;
    text-align: center;
}
#rightside{
    width: 200px;
    height: 600px;
    border-radius: 0px 100px 50px 0px;
    border-top: 1px black solid;
    border-right:1px black solid;
    border-bottom:1px black solid ;
    -webkit-border-radius: 0px 100px 50px 0px;
    -moz-border-radius: 0px 100px 50px 0px;
    -ms-border-radius: 0px 100px 50px 0px;
    -o-border-radius: 0px 100px 50px 0px;
}
/*--Bottom part*/
#semicircle{
    width: 600px;
    height: 250px;
    margin-left: 200px;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: #2f2f2f;
    border-radius: 0px 0px 250px 250px;
    -webkit-border-radius: 0px 0px 250px 250px;
    -moz-border-radius: 0px 0px 250px 250px;
    -ms-border-radius: 0px 0px 250px 250px;
    -o-border-radius: 0px 0px 250px 250px;
}
/*--deatils and selection*/
.detailsselection{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 1000px;
    height: 800px;
    border: 1px black solid;
    margin-left: 13% ;
    border-radius: 10px;
  background-color: #03495B;
}
#selectiontablename,#selectiontableprice{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: none;
    background-color: transparent;
    width: 250px;
    margin-left: 20px;
}
#selectionbox{
    display: flex;
    flex-direction: row;
    margin: auto;
}
#selection{
    margin: auto;
}
#price{
    display: none; 
    width: 500px;
    height: 740px;
}





/*---drink selection*/
#whiskeyselect,#vodkaselect,#cognacselect,#rumselect,#tequilaselect,#ginselect{
    display: none;
}

/*--enter ticket--*/
.ticket{
    margin-top: 6%;
    display: none;
}
.enterticket{
    margin-top: 3%;
    margin-left: 13%;
    width: 1000px;
    height: 400px;
    border: 1px black solid;
    border-radius: 10px;
    }